#filtroOrdemOpcoes {
	margin: 0.5em 0;
	position: sticky;
	top: 1em;
}

.filtroOrdem {
	overflow: hidden;
	display: inline-block;
	background-color: white;
	border: 2px solid #4DC877;
}

.filtroOrdem div {
	display: inline-block;
}

#ordem {
	background-color: white;
	text-transform: none;
	position: initial;
	width: 10em;
}

#filtro {
	width: 10em;
}

#opcoes {
	display: grid;
	grid-template-columns: 50% 50%;
	width: 20em;
	margin: auto;
	position: absolute;
	top: calc(15% + 1em);
}

#opcoes li, #opcoes label {
	display: block;
	padding: 5px 0;
}

#opcoesOrdem {
	position: absolute;
	top: calc(1em+2px);
	width: 10em;
	display: none;
	flex-flow: wrap column;
	justify-content: space-evenly;
	text-align: center;
	box-shadow: 0 5px 10px black;
	background-color: #E7E9EC;
}

#opcoesFiltro {
	text-align: center;
	display: none;
	box-shadow: 0 5px 10px black;
	background-color: #E7E9EC;
}

#opcoesFiltro button {
	background-color: black;
	color: white;
	outline: none;
	border: none;
	border-radius: 1em;
	width: 70%;
	margin: 5px;
	padding: 2px;
	font-size: 0.6em;
	font-family: "Teko", sans-serif;
}

#profissionais {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#profissionais section {
	margin: 15px auto;
	display: inline-block;
	width: 40%;
	background-image: linear-gradient(150deg, #5B8C5A, #AED2AC 10%, #5EAD58, #5D6C5C);
	text-align: center;
	padding: 20px;
	border: 20px white solid;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*
#profissionais section > :first-child {
	font-size: 3em;
	font-weight: bolder;
}

#profissionais section span:first-child {
	font-size: 1em;
}
*/
#profissionais span {
	font-size: 6em;
	width: 1em;
	border-radius: 6em;
	background-color: black;
	color: white;
	margin: auto;
}


#profissionais li:first-child {
	font-size: 3em;
}
/*
#profissionais li:first-child {
	list-style-image: url('https://www.blesshoteisexpress.com.br/site/img/1-pessoa.png');
	margin: 0 0 0 2em;
}

#profissionais li:last-child {
	list-style-image: url(https://cdn-icons-png.flaticon.com/512/809/809957.png);
	margin: 0 0 0 2em;
}
*/