.material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48
}

body {
	font-size: 2em;
	background-color:  #E7E9EC;
	color: #0F1927;
	font-family: "Teko", sans-serif;
	text-align: center;
}

main {
	font-family: 'Kanit', sans-serif;
	display:  inline-flex;
	flex-wrap: wrap;
}

header {
	padding: 0 50px;
	height: 15%;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	justify-content: space-between;
	align-items:  center;
	background-color: #0F1927;
	color: #4DC877;
}

header div {
	text-align: center;
	display:  inline;
}

#fotoPerfil {
	width:  84px;
	height: 49px;
	border-radius: 100%;
	background-color: #4DC877;
	color: #0F1927;
	margin: 20px;
	font-size: 1em;
}

#usuario {
	display:  flex;
	flex-wrap: nowrap;
	align-items:  center;
}

#perfilUsuario {
	position: relative;
	bottom: 10px;
	font-size: 0.5em;
	display: block;
	width:  100%;
}

#logoHeader {
	font-size: 2em;
	display:  block;
	width:  100%;
	color: white;
}

#subtitulo {
	display:  inline-block;
	height: 10%;
	width: 100%;
	padding:  5px 0;
	background-color: rgba(77, 200, 119, 0.8);
	text-align: center;
	font-size: 1em;
	color:  #0F1927;
}

form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -37.5%);
	width: 100%;
}

#gridForm {
	display:  grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 20px;
	margin: 20px 0 0 0;
}

form h3 {
	font-family: "Teko", sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	display:  block;
	width: 100%;
	padding: 7px 0 0 0;
	border-top: 3px rgba(77, 200, 119, 0.5) solid;
	border-bottom: 3px rgba(77, 200, 119, 0.5) solid;
	margin-bottom: 5px;
	background-color: white;
}


form label {
	text-align: left;
	padding:  10px 10px 0 2px;
}

.obrigatorio:after {
	content: "*";
	font-weight: bold;
	color: red;
}

form input {
	text-align: center;
	margin: auto;
	height: 1.5em;
	width: 100%;
	font-size: 0.7em;
	font-family: "Indie Flower", cursive;
	border-bottom: 2px solid #4DC877;
	border-top: none;
	border-left: none;
	border-right: none;
	display: inline-block;
	background-color: #E7E9EC;
}

form select {
	width: 100%;
	font-family: "Indie Flower", sans-serif;
	font-size: 0.7em;
	text-align: center;
	height: 1.5em;
	border-top:  none;
	border-right: none;
	border-bottom: 2px solid #4DC877;
	border-left: none;
	background-color: #E7E9EC;
}

textarea {
	padding: 0 5px;
	margin: 10px;
	background-color: transparent;
	border: 2px solid #4DC877;
	font-family: "Indie Flower", cursive;
	font-size: 0.6em;
}

select:focus, input:focus, textarea:focus {
	outline: none;
}

#tooltip {
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 2px solid #4DC877;
	border-radius: 1em;
	margin: 0 0 0 3px;
}

#uf, #ddd_fix, #ddd_cel {
	width:  50%;
}

#uf, #ddd_fix, #ddd_cel {
	margin: 0 5px;
}

#infoForm section, #domForm section, #idForm section, #contatoForm section {
	display:  flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: auto;
}

#cep {
	width:  70%;
}

#fotoForm {
	margin: auto;
	width: 3em;
	height: 3em;
	border-radius: 100%;
	border: 2px solid #4DC877;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3em;
}


#fotoForm:hover {
	transition: 0.5s;
	cursor: pointer;
	background-color: rgba(77, 200, 119, 0.5);
}

#enviar {
	height: 2em;
	margin: 15px 0 0 0;
	display: block;
	width: 13%;
	margin: 5px auto 0;
	background-color: #0F1927;
	color: white;
	text-transform: uppercase;
	font-family: 'Kanit', sans-serif;
	border:  none;
	border-radius: 40px;
}
