/* 
PADRÃO DA PÁGINA
     CORES
          - #ECFF4B: Amarelo vibrante (títulos);
          - #FFCDFA: Rosa-claro (articles e .mesIndex);
          - #323D47: Cinza escuro (background-color do body);
          - rgba(213,225,236): Cinza esbranquiçado (color);
     FONTES
          - 'Gochi Hand', cursive: títulos;
          - 'Shadows Into Light', cursive: links (a);
          - 'Space Mono', monospace: body;
     
*/

body {
  background-color: #323D47;
  color: rgba(213,225,236);
  font-family: 'Space Mono', monospace;
  text-align: justify;
}

.titulo_principal {
  font-size: 3em;
  text-align: center;
  color: #ECFF4B; 
  font-family: 'Gochi Hand', cursive;
  padding: 10px
}


.linha {
  width: 500px;
  height: 3px;
  border: 1px solid;
  background: #000000;
}

.texto_com_imagem {
  height: 30px;
  border: 10px solid;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  color: #513000;
}

.div_linha_inteira {
  display: flex;
  justify-content: center; 
  align-items: center; padding: 10px
}

  .estilo_ul {
    font-family: monospace;
    font-size: 1.5em; 
    list-style-image: url('img/mao_para_direita-25x18.png'); 
    color: #CAA71F;
}

.estilo_ol {
  list-style-type: lower-alpha;
  color: #513000; 
  font-family: sans-serif;
  padding: 5px;
  text-align: justify; 
  font-size: 15px; list-style-image: none;
}

.div_imagem_centralizada {
  display: flex;
  justify-content: center;
  align-items: center;
}
.final {
  font-family: monospace;
  text-align: center;
  align-items: center;
  color: 0c41e7;
  font-size: 3em;
  border-style: dotted;
  border-color: 513000;
  border-width: 300;
}
.div_gif {
  display: flex;
  ustify-content: center;
  align-items: center;
}
  .div_poupatempo {
  color: 9C0B4D;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}
