body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(240deg, white, #F4FF97, #D4FF97, #9AFF97, #97FFBD, #97FFD4);
  font-family: 'Gochi Hand', cursive;
}
.header_main_nav {
  background-color: rgba(213,225,236,0.4);
  font-family: 'Dancing Script', cursive;
  margin: 3em auto;
  border-radius: 50px;
  width: 95%;
  right: auto;
  border: solid #323D47 2px;
}

main {
 font-size: 200%;
 margin: auto;
 align: center;
 width: 80%;
 padding: 2% 0;
 content: "";
 clear: both;
 display: flex;
}

#logoHeader {
  top: 50%;
  width: 40%;
}


#textoMain_index {
  line-height: 1.5;
  width: 40%;
  align: right;
}

#navButton_index {
  width: 100%;
  background-color: #323D47;
  color: #E5EFF8;
  border-radius: 0 0 50px 50px;
  text-align: center;
  margin: auto;
  font-size: 2em;
  font-family: 'Boogaloo', cursive;
  text-transform: uppercase;
  border: solid #323D47 2px;
}

#nav_index {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  cursor: pointer;
  font-family: 'Caveat', cursive;
}

#txtNav_index {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}

#obsTxtNav_index {
  width: 100%;
  font-size:  50%;
  text-align: center;
  align: center;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.imgCentro {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centro {
  margin: auto;
  text-align: center;
}

p {
  text-indent: 50px;
  text-align: justify;
  padding: 0px 10px;
  line-height: 1.6;
}

.pCentro {
  text-align: center;   
}

.topBorder {
  border-top: 3px solid #3A710E;   
}

.p_mes {
  text-align: center;
  font-family: "Papyrus", "Georgia", "Brush Script MT", "Lucida Handwriting", fantasy, sans-serif;
  font-size: 80px;
  border-top: 3px dotted #325408;
  border-right: none;
  border-bottom: 3px dotted #325408;
  border-left: none;
}

ul {
  list-style-type: circle;
  font-family: "Papyrus", "Georgia", "Brush Script MT", "Lucida Handwriting", fantasy, sans-serif;
  text-align: justify;
  border-color: #325408;
}

.obs {
  font-family: 'Dancing Script', cursive;
  text-align: justify;
  text-indent: 100px;
  padding: 0px 20px 0px 10px;
}

.dia {
  border-top: dashed;
  border-right: none;
  border-bottom: none;
  border-left: none;
  font-size: 40px;
}

