#navOverlay_index {
    box-shadow: 40px 0px 70px black;
    position: fixed;
    width: 20%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #323D47;
    z-index: 2;
    font-size: 0.7em;
    color: rgba(213,225,236);
}

#opcoesNav_index:hover {
    cursor: context-menu;
    background-color: rgba(213,225,236);
    color: #323D47;
    transition: 0.5s;
}

#linkBio_index:hover {
    background-image: linear-gradient(to top right, #FFB7B7, #FFFCB7, #C2FFB7, #B7FFE7, #B7D2FF, #E7B7FF, #FFB7DD);
    border-radius: 7px;
    font-size: 1em;
    color: #323D47;
    transition: 0.7s;
    padding: 3px;
}

nav {
    background-color: #323D47;
    width: 100%;
    font-size: 2em;
    color: rgba(213,225,236);
    position: absolute;
}

nav ul {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

nav li {
    display: inline;
    color: rgba(213,225,236);
    border: solid 2px #323D47;
}

body {
    background-image: linear-gradient(to top right, #FFB7B7, #FFFCB7, #C2FFB7, #B7FFE7, #B7D2FF, #E7B7FF, #FFB7DD);
    color: #323D47;
    font-size: 1em;
    font-family: 'Space mono', monospace;
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    line-height: 1.5;
}

h1 {
    font-size: 4em;
    text-transform: uppercase;
    width: 100%;
    text-shadow: 2px 2px #8F9EA2;
}

p {
    width: 100%;
}
