body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(240deg, white, #F4FF97, #D4FF97, #9AFF97, #97FFBD, #97FFD4);
  font-family: 'Gochi Hand', cursive;
}
.header_main {
  width: 80%;
  background-color: D5E1EC;
  margin: auto;
}

header {
  display: inline-block;
  padding: 10px 5px;
  margin: 0 auto;
  hight: 336px;
}

#logoHeader {
  width: 300;
  height: 300;
  display: inline-block;
}

header a {
 position: absolute;
 top: 150px;
 right: 0px;
 font-size: 300%;
}

main {
  font-size: 150%
}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
   background-color: black;
}

.imgCentro {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centro {
  margin: auto;
  text-align: center;
}

p {
  text-indent: 50px;
  text-align: justify;
  padding: 0px 10px;
  line-height: 1.6;
}

.pCentro {
    text-align: center;   
}

.topBorder {
    border-top: 3px solid #3A710E;   
}

.p_mes {
    text-align: center;
    font-family: "Papyrus", "Georgia", "Brush Script MT", "Lucida Handwriting", fantasy, sans-serif;
    font-size: 80px;
    border-top: 3px dotted #325408;
    border-right: none;
    border-bottom: 3px dotted #325408;
    border-left: none;
}

ul {
    list-style-type: circle;
    font-family: "Papyrus", "Georgia", "Brush Script MT", "Lucida Handwriting", fantasy, sans-serif;
    text-align: justify;
    border-color: #325408;
}

.obs {
    padding-left: 100px;
    font-family: 'Tangerine', cursive;
    text-align: justify;
    text-indent: 100px;
    padding: 0px 20px 0px 10px;
}

.dia {
    border-top: dashed;
    border-right: none;
    border-bottom: none;
    border-left: none;
    font-size: 40px;
}

