.titulo_principal {
  font-size: 30px;
  text-align: center;
  color: #0E0B7A; 
  font-family: monospace, sans-serif;
  padding: 10px
}

.texto_comum {
  color: #513000;
  font-family: sans-serif;
  padding: 5px;
  text-align: justify;
  font-size: 15px
}

.linha {width: 500px;
  height: 3px;
  border: 1px solid;
  background: #000000;
}

.texto_com_imagem {
  height: 30px;
  border: 10px solid;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  color: #513000;
}

.div_linha_inteira {
  display: flex;
  justify-content: center; 
  align-items: center; padding: 10px}
  .estilo_ul {font-family: monospace; font-size: 1.5em; 
  list-style-image: url('img/mao_para_direita-25x18.png'); 
  color: #CAA71F;
}

.estilo_ol {
  list-style-type: lower-alpha;
  color: #513000; 
  font-family: sans-serif;
  padding: 5px;
  text-align: justify; 
  font-size: 15px; list-style-image: none;
}

.div_imagem_centralizada {
  display: flex;
  justify-content: center;
  align-items: center;
}
.final {
  font-family: monospace;
  text-align: center;
  align-items: center;
  color: 0c41e7;
  font-size: 3em;
  border-style: dotted;
  border-color: 513000;
  border-width: 300;
}
.div_gif {
  display: flex;
  ustify-content: center;
  align-items: center;
}
  .div_poupatempo {
  color: 9C0B4D;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}
